<!DOCTYPE html>
<html>
<head>
	<title>Register-Now</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/full.css">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="registerpage1" >
	<div class="row">
		<div class="col-md-8">
				<h1 class="logolink">Milk Man</h1>
		</div>
			<div class="col-md-4 orderingbut ">
			<h1>Add Community</h1>
			<!-- <h1>Add Users</h1> -->
		<!-- <a href="menupage.html"><button>Order Without Login</button></a> -->
	</div>
	</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
              
                <div class="panel-body">
                    <form role="form" method="post">
                    
                        <label for="fname">Name</label>
                        <input type="text" id="fname" class="form-control" name="fname">
                        
                        <label for="lname">Address</label>
                        <input type="text" id="lname" class="form-control" name="lname">
                        
                        <label for="states" class="m-t-10">Active</label>
                        <select id="states" class="form-control" name="state">
                        <option value="alabama">Status</option>
                            <option value="unknown">yes</option>
                            <option value="alabama">No</option>
                        </select>
                        <label for="fname">Locality</label>
                        <input type="text" id="fname" class="form-control" name="fname">
                        <label for="fname">City</label>
                        <input type="text" id="fname" class="form-control" name="fname">
                        <label for="fname">State</label>
                        <input type="text" id="fname" class="form-control" name="fname">
                        <label for="fname">country</label>
                        <input type="text" id="fname" class="form-control" name="fname" value="India">
                        <label for="fname">pincode</label>
                        <input type="text" id="fname" class="form-control" name="fname">
                        
                       	<div class="row">
		<div class="col-md-12">
			<button class="martops text-center">ADD</button>
		</div>
	</div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
		<!-- <div class="row text-center registerbox">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12 text-center">
									<h1 style="color: black !important"> ADD Community </h1>
						</div>
					</div>


					<div class="form-group row">
  <!- <label for="example-text-input" class="col-2 col-form-label ">Text</label> -->
  <!-- <div class="col-10">
    <input class="form-control martop" type="text"  id="example-text-input">
  </div>
</div>
<div class="form-group row"> -->
  <!-- <label for="example-search-input" class="col-2 col-form-label">Search</label> -->
<!--   <div class="col-10">
    <input class="form-control martop" type="search"  id="example-search-input">
  </div>
</div>
<div class="form-group row"> -->
 <!--  <label for="example-email-input" class="col-2 col-form-label">Email</label> -->
  <!-- <div class="col-10">
    <input class="form-control martop" type="email" id="example-email-input">
  </div>
</div>
<div class="form-group row"> -->
  <!-- <label for="example-url-input" class="col-2 col-form-label">URL</label> -->
 <!--  <div class="col-10">
    <input class="form-control martop" type="url"  id="example-url-input">
  </div>
</div>
<div class="form-group row"> -->
  <!-- <label for="example-tel-input" class="col-2 col-form-label">Telephone</label> -->
<!--   <div class="col-10">
    <input class="form-control martop" type="tel"  id="example-tel-input">
  </div>
</div>
<div class="form-group row"> -->
 <!--  <label for="example-password-input" class="col-2 col-form-label">Password</label> -->
 <!--  <div class="col-10">
    <input class="form-control martop" type="password"  id="example-password-input">
  </div>
</div>
<div class="form-group row"> -->
 <!--  <label for="example-number-input" class="col-2 col-form-label">Number</label> -->
 <!--  <div class="col-10">
    <input class="form-control martop" type="number"  id="example-number-input">
  </div>
</div> -->


	<!-- 	<div class="row">
		<div class="col-md-12">
			<input type="text" name="firstname" placeholder="Name" class="martop" id="fnae">
		</div>
	</div> -->

<!-- <div class="row">
		<div class="col-md-12">
				<span id="err0rr1" class="text-center errmsggg"></span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<input type="text" name="lastname" placeholder="Address" class="martop" id="lsna">
		</div>
	</div>

<div class="row">
		<div class="col-md-12">
				<span id="err0rr2" class="text-center errmsggg"></span>
		</div>
	</div>

	<div class="row">
<div class="col-md-12">
<select name="cars " class="martop" placeholder="Status" id="corrr">
  <option value="">Status: Active</option>
  <option value="">Status: in-Active</option>

</select>
	</div>
	</div>
<div class="row">
		<div class="col-md-12">
				<span id="err0rr3" class="text-center errmsggg"></span>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<input type="text" name="Name" placeholder="Locality" class="martop" id="ema">
		</div>
	</div>

<div class="row">
		<div class="col-md-12">
				<span id="err0rr4" class="text-center errmsggg"></span>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<input type="password" name="password" placeholder="city" class="martop" id="pas">
		</div>
	</div>

div class="row">
		<div class="col-md-12">
				<span id="err0rr5" class="text-center errmsggg"></span>
		</div>
	</div>


		<div class="row">
		<div class="col-md-12">
			<input type="email" name="password" placeholder="State" class="martop"  id="corrr">
		</div>
	</div>

<div class="row">
		<div class="col-md-12">
				<span id="err0rr6" class="text-center errmsggg"></span>
		</div>
	</div>
 -->
	
	
</div>
</div>	
</body>
</html>