<!DOCTYPE html>
<html>
<head>
	<title>Register-Now</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/full.css">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="registerpage" >
	<div class="row">
		<div class="col-md-8">
				<h1 class="logolink">Milk Man</h1>
		</div>
			<div class="col-md-4 orderingbut ">
			<!-- <h1>Add Users</h1> -->
		<!-- <a href="menupage.html"><button>Order Without Login</button></a> -->
	</div>
	</div>

<div class="container">
		<div class="row text-center registerbox">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12 text-center">
									<h1 style="color: black !important"> ADD USER </h1>
						</div>
					</div>
		<!-- <div class="row">
		<div class="col-md-12">
			<input type="text" name="firstname" placeholder="First-Name" class="martop" id="fnae">
		</div>
	</div>

<div class="row">
		<div class="col-md-12">
				<span id="err0rr1" class="text-center errmsggg"></span>
		</div>
	</div> -->

	<!-- <div class="row">
		<div class="col-md-12">
			<input type="text" name="lastname" placeholder="Last-Name" class="martop" id="lsna">
		</div>
	</div>

<div class="row">
		<div class="col-md-12">
				<span id="err0rr2" class="text-center errmsggg"></span>
		</div>
	</div>
 -->

	<!-- <div class="row">
		<div class="col-md-12">
			<input type="text" name="mobilenumber" placeholder="Mobile" class="martop" id="conum">
		</div>
	</div> -->

<!-- <div class="row">
		<div class="col-md-12">
				<span id="err0rr3" class="text-center errmsggg"></span>
		</div>
	</div> -->


	<div class="row">
		<div class="col-md-12">
			<input type="text" name="Name" placeholder="Email-Id" class="martop" id="ema">
		</div>
	</div>

<!-- <div class="row">
		<div class="col-md-12">
				<span id="err0rr4" class="text-center errmsggg"></span>
		</div>
	</div> -->


	<div class="row">
		<div class="col-md-12">
			<input type="password" name="password" placeholder="Mobilenumber" class="martop" id="pas">
		</div>
	</div>

<!-- div class="row">
		<div class="col-md-12">
				<span id="err0rr5" class="text-center errmsggg"></span>
		</div>
	</div> -->


		<div class="row">
		<div class="col-md-12">
			<input type="email" name="password" placeholder="Email-Id" class="martop"  id="corrr">
		</div>
	</div>

<!-- <div class="row">
		<div class="col-md-12">
				<span id="err0rr6" class="text-center errmsggg"></span>
		</div>
	</div> -->

	
		<div class="row">
		<div class="col-md-12">
			<a href="newloginpage.html"><button class="martops text-center">ADD</button></a>
		</div>
	</div>

<script src="jquery.js"></script>
</div>
</div>	
</body>
</html>