<!DOCTYPE html>
<html>
<head>
	<title>view community</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/full.css">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="viewcomm" >
<div class="container">
	<div class="row userlist">
		<div class="col-md-12">
			<table>
  <tr class="th1">
    <th>Id:</th>
    <th>Name</th>
    <th>Address</th>
    <th>Active</th>
    <th>Locality</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Pincode</th>
    <th></th>
  </tr>
  <tr>
    <td>12</td>
    <td>Janakiram</td>
    <td>Edarapalli</td>
    <td>yes</td>
    <td>Adapa vari street</td>
    <td>amalapuram</td>
    <td>A.p</td>
    <td>India</td>
    <td>533-201</td>
    <td><button>Edit</button><button>Delete</button></td>

  </tr>
  <tr>
 	<td>123</td>
    <td>Satish</td>
    <td>Edarapalli</td>
    <td>yes</td>
    <td>Adapa vari street</td>
    <td>amalapuram</td>
    <td>A.p</td>
    <td>India</td>
    <td>533-201</td>
    <td><button>Edit</button><button>Delete</button></td>
  </tr>
  <tr>
   <td>1234</td>
    <td>Anand</td>
    <td>Edarapalli</td>
    <td>yes</td>
    <td>Adapa vari street</td>
    <td>Amalapuram</td>
    <td>A.p</td>
    <td>India</td>
    <td>533-201</td>
    <td><button>Edit</button><button>Delete</button></td>
  </tr>
  <tr>
   <td>12345</td>
    <td>Annop</td>
    <td>Edarapalli</td>
    <td>yes</td>
    <td>Adapa vari street</td>
    <td>amalapuram</td>
    <td>A.p</td>
    <td>India</td>
    <td>533-201</td>
    <td><button>Edit</button><button>Delete</button></td>
  </tr>
</table>
		</div>
	</div>	
</div>	
</body>
</html>